.seymour-one-regular {
    font-family: "Seymour One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  .margine{
    margin-left: 510px;
    width: 500px;
  }
  .font{
    font-family: "Seymour One", sans-serif;
    font-weight: 100;
    font-style: normal;
  }

  .margine1{
    margin-left: 560px;
    width: 400px;
  }